<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="info.ggdog.music.dao.AlbumMapMapper">
    <insert id="install" parameterType="info.ggdog.music.pojo.AlbumMap">
        INSERT INTO `album_map` (`album_id`, `song_id`)
        VALUES
          (#{albumMap.albumId}, #{albumMap.songId})
    </insert>
    <delete id="deleteAll">
        DELETE FROM `album_map`
    </delete>
</mapper>