<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="info.ggdog.music.dao.AlbumMapper">
    <select id="fildByName" parameterType="String" resultType="Long">
        SELECT `id` FROM `album` WHERE `name` = #{album}
    </select>

    <insert id="insert" parameterType="info.ggdog.music.pojo.Song" useGeneratedKeys="true" keyProperty="id">
       INSERT INTO `album` (`name`,`img`, `time`)
        VALUES
          (#{album.name}, #{album.img},now())
    </insert>
    <delete id="deleteAll">
        DELETE FROM `album`
    </delete>
    <select id="findAll" resultType="Map">
        SELECT
          `id`,
          `name`,
          `time`,
          `num`
        FROM
          `album`
    </select>
    <select id="search" resultType="Map">
        SELECT
          s.`id`,
          s.`mid`,
          s.`name`,
          s.`singer`,
          s.`album`,
          s.`cover`,
          s.`path`,
          s.`num`
        FROM
          `song` AS s
          INNER JOIN `album_map` AS am
            ON s.`id` = am.`song_id`
          INNER JOIN `album` AS a
            ON a.`id` = am.`album_id`
        WHERE a.`name` = #{w}
        limit #{p},#{n}
    </select>
    <select id="fildImgPashByName" parameterType="String" resultType="String">
        SELECT img FROM `album` WHERE `name` = #{name}
    </select>
    <update id="addOne">
        UPDATE
          `album`
        SET
          `num` = `num` + 1
        WHERE `name` = #{w}
    </update>
</mapper>